In [6]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
def run_query(q):
    with sqlite3.connet('chinook.db') as conn:
        return pd.read_sql(q,conn)

In [8]:
def run_command(c):
    with sqlite3.connect ('chinook.db') as conn:
        conn.isolation_level = None
        conn.execute(c)

In [9]:
def all_tables():
    q = 'SELECT name, type FROM sqlite_master\
         WHERE type IN ("table","view");'
    return run_query(q)