Topic: Challenge Set 1 Subject: Explore MTA turnstile data Date: 04/13/2018 Name: student name Worked with: other students' name Location: sea18_ds10/student_submissions/challenges/01-mta/shaikh_reshama/challenge_set_1_reshama.ipynb

In [20]:
import sys

In [21]:
# imports a library 'pandas', names it as 'pd'
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from IPython.display import Image

import pprint

# enables inline plots, without it plots don't show up in the notebook
%matplotlib inline

import dateutil.parser
from datetime import *

In [22]:
# various options in pandas
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 500)
pd.set_option('display.precision', 3)

In [23]:
#read data from this folder
df = pd.read_csv('turnstile_171007.csv')
mta = df.copy()

In [24]:
#Work with turnstile name as combo

mta['TURNSTILE'] = mta['C/A'] + mta['UNIT'] + mta['SCP']
mta.drop('C/A', axis=1, inplace = True)
mta.drop('UNIT', axis=1,inplace = True)
mta.drop('SCP', axis=1, inplace = True)

In [25]:
#re-order cols

cols = mta.columns.tolist()
cols.insert(0, cols.pop(cols.index('TURNSTILE')))
mta = mta.reindex(columns= cols)

In [26]:
#drop useless data

mta = mta.drop('LINENAME', axis=1)
mta = mta.drop('DIVISION', axis=1)
mta = mta.drop('DESC', axis=1)

In [27]:
#remove exit as well

mta.columns = mta.columns.str.strip()

In [28]:
# make new columns, blank

leng = len(mta.index)

mta['ENT_COUNT'] = [0] * leng
mta['EXT_COUNT'] = [0] * leng
mta['DATE_TIME'] = [0] * leng
mta['Cu_ENT'] = [0] * leng

In [29]:
#reorder the date time column

cols = mta.columns.tolist()
cols.insert(4, cols.pop(cols.index('DATE_TIME')))
mta = mta.reindex(columns= cols)

In [30]:
# Fill empty date time column with formula
# I dont think we will use this...

for i in range(leng):
    datetime = df.DATE[i]+ ' ' + df.TIME[i]      
    value = dateutil.parser.parse(datetime)
     
    mta.at[i,'DATE_TIME'] = value

In [31]:
#fill empty ent_count with formula

for i in range(leng):
    if i == 0: 
        mta.at[i,'ENT_COUNT'] = 0
    else:
        if mta.TURNSTILE[i] == mta.TURNSTILE[i-1]:
            diff = mta.ENTRIES[i] - mta.ENTRIES[i-1]
            # ignore any negative entry count or very large entry counts, turnstile malfunction
            # we should discuss a better 
            if diff < 0: diff = 0
            if diff > 10000: diff = 0
            mta.at[i,'ENT_COUNT'] = diff
        else:
            mta.at[i,'ENT_COUNT'] = 0

In [32]:
#fill in new exit counts
for i in range(leng):
    if i == 0: 
        mta.at[i,'EXT_COUNT'] = 0
    else:
        if mta.TURNSTILE[i] == mta.TURNSTILE[i-1]:
            diff = mta.EXITS[i] - mta.EXITS[i-1]
            # ignore any negative entry count or very large entry counts, turnstile malfunction
            # we should discuss a better 
            if diff < 0: diff = 0
            if diff > 10000: diff = 0
            mta.at[i,'EXT_COUNT'] = diff
        else:
            mta.at[i,'EXT_COUNT'] = 0

In [82]:
#mta = mta.drop('DATE', axis=1)
mta = mta.drop('TIME', axis=1)
mta = mta.drop('ENTRIES', axis=1)
mta = mta.drop('Cu_ENT', axis=1)
mta = mta.drop('EXITS', axis=1)

ValueError: labels ['TIME'] not contained in axis

In [34]:
mta.head()

,TURNSTILE,STATION,DATE,TIME,DATE_TIME,ENTRIES,EXITS,ENT_COUNT,EXT_COUNT,Cu_ENT
0,A002R05102-00-00,59 ST,09/30/2017,00:00:00,2017-09-30 00:00:00,6346858,2147624,0,0,0
1,A002R05102-00-00,59 ST,09/30/2017,04:00:00,2017-09-30 04:00:00,6346893,2147630,35,6,0
2,A002R05102-00-00,59 ST,09/30/2017,08:00:00,2017-09-30 08:00:00,6346912,2147655,19,25,0
3,A002R05102-00-00,59 ST,09/30/2017,12:00:00,2017-09-30 12:00:00,6347003,2147741,91,86,0
4,A002R05102-00-00,59 ST,09/30/2017,16:00:00,2017-09-30 16:00:00,6347270,2147801,267,60,0

In [35]:
# Check all negative and large numbers have been removed

mta.describe()

         ENTRIES      EXITS   ENT_COUNT   EXT_COUNT    Cu_ENT
count  1.967e+05  1.967e+05  196663.000  196663.000  196663.0
mean   4.003e+07  3.241e+07     181.638     138.153       0.0
std    2.080e+08  1.901e+08     265.700     233.081       0.0
min    0.000e+00  0.000e+00       0.000       0.000       0.0
25%    5.243e+05  2.643e+05       8.000       6.000       0.0
50%    2.707e+06  1.510e+06      73.000      51.000       0.0
75%    6.954e+06  4.840e+06     251.000     168.000       0.0
max    2.130e+09  2.097e+09    4241.000    4329.000       0.0

In [36]:
tur_uni = mta.TURNSTILE.unique()

In [37]:
"""# Find some time of day trend?
turn = ''
date = ''
sum_ent = 0
cu_list = []
for i in range(leng):
    #Initialing complex if, goal is to have the cumulative for each day 
    if turn != mta.TURNSTILE[i] and i==0:
        turn = mta.TURNSTILE[i]
        date = mta.DATE[i]
        beg_in = i
        sum_ent= 0
    #if the turnstile and date are the same, sum up the ent_count
    elif (turn == mta.TURNSTILE[i] and date == mta.DATE[i]):
        sum_ent += mta['ENT_COUNT'][i]
    #if either the turnstile number changes, or the date changes, dump the sum of entries, 
    #and store in a new column across multpile indexes
    elif turn != mta.TURNSTILE[i] or date != df.DATE[i]:
        for j in range(i-beg_in):
            j +=beg_in
            mta.at[j, 'Cu_ENT'] = sum_ent 
        turn = mta.TURNSTILE[i]
        date = mta.DATE[i]
        beg_in = i
        sum_ent = mta['ENT_COUNT'][i]
mta"""

"# Find some time of day trend?\nturn = ''\ndate = ''\nsum_ent = 0\ncu_list = []\nfor i in range(leng):\n    #Initialing complex if, goal is to have the cumulative for each day \n    if turn != mta.TURNSTILE[i] and i==0:\n        turn = mta.TURNSTILE[i]\n        date = mta.DATE[i]\n        beg_in = i\n        sum_ent= 0\n    #if the turnstile and date are the same, sum up the ent_count\n    elif (turn == mta.TURNSTILE[i] and date == mta.DATE[i]):\n        sum_ent += mta['ENT_COUNT'][i]\n    #if either the turnstile number changes, or the date changes, dump the sum of entries, \n    #and store in a new column across multpile indexes\n    elif turn != mta.TURNSTILE[i] or date != df.DATE[i]:\n        for j in range(i-beg_in):\n            j +=beg_in\n            mta.at[j, 'Cu_ENT'] = sum_ent \n        turn = mta.TURNSTILE[i]\n        date = mta.DATE[i]\n        beg_in = i\n        sum_ent = mta['ENT_COUNT'][i]\nmta"

In [47]:
mt = mta.groupby(['STATION','DATE'])
ent_agg = mt.agg({'ENT_COUNT':['sum']})
ent_agg.reset_index(inplace=True)
ext_agg = mt.agg({'EXT_COUNT':['sum']})
#returns "index" as columns .reset_index()
ext_agg.reset_index(inplace=True)
ent_agg

              STATION        DATE ENT_COUNT
                                        sum
0                1 AV  09/30/2017     12883
1                1 AV  10/01/2017     14815
2                1 AV  10/02/2017     20711
3                1 AV  10/03/2017     21932
4                1 AV  10/04/2017     22605
5                1 AV  10/05/2017     22814
6                1 AV  10/06/2017     23237
7              103 ST  09/30/2017     18169
8              103 ST  10/01/2017     16735
9              103 ST  10/02/2017     32092
10             103 ST  10/03/2017     34052
11             103 ST  10/04/2017     34154
12             103 ST  10/05/2017     33594
13             103 ST  10/06/2017     32800
14      103 ST-CORONA  09/30/2017     13389
15      103 ST-CORONA  10/01/2017     12002
16      103 ST-CORONA  10/02/2017     20587
17      103 ST-CORONA  10/03/2017     20964
18      103 ST-CORONA  10/04/2017     20932
19      103 ST-CORONA  10/05/2017     20963
20      103 ST-CORONA  10/06/2017     21132
21             104 ST  09/30/2017      1370
22             104 ST  10/01/2017      1083
23             104 ST  10/02/2017      3242
24             104 ST  10/03/2017      3289
25             104 ST  10/04/2017      3282
26             104 ST  10/05/2017      3309
27             104 ST  10/06/2017      3121
28             110 ST  09/30/2017      6393
29             110 ST  10/01/2017      5849
30             110 ST  10/02/2017     12080
31             110 ST  10/03/2017     12717
32             110 ST  10/04/2017     12651
33             110 ST  10/05/2017     12731
34             110 ST  10/06/2017     12517
35             111 ST  09/30/2017     10927
36             111 ST  10/01/2017     10059
37             111 ST  10/02/2017     18407
38             111 ST  10/03/2017     18557
39             111 ST  10/04/2017     18498
40             111 ST  10/05/2017     18314
41             111 ST  10/06/2017     18136
42             116 ST  09/30/2017     20393
43             116 ST  10/01/2017     19390
44             116 ST  10/02/2017     35362
45             116 ST  10/03/2017     36798
46             116 ST  10/04/2017     37388
47             116 ST  10/05/2017     36727
48             116 ST  10/06/2017     36926
49    116 ST-COLUMBIA  09/30/2017      7791
50    116 ST-COLUMBIA  10/01/2017      7476
51    116 ST-COLUMBIA  10/02/2017     16371
52    116 ST-COLUMBIA  10/03/2017     18011
53    116 ST-COLUMBIA  10/04/2017     18602
54    116 ST-COLUMBIA  10/05/2017     18693
55    116 ST-COLUMBIA  10/06/2017     18447
56             121 ST  09/30/2017       568
57             121 ST  10/01/2017       469
58             121 ST  10/02/2017      1151
59             121 ST  10/03/2017      1215
60             121 ST  10/04/2017      1180
61             121 ST  10/05/2017      1162
62             121 ST  10/06/2017      1140
63             125 ST  09/30/2017     43661
64             125 ST  10/01/2017     47796
65             125 ST  10/02/2017     76031
66             125 ST  10/03/2017     79759
67             125 ST  10/04/2017     80742
68             125 ST  10/05/2017     79794
69             125 ST  10/06/2017     79419
70             135 ST  09/30/2017     11132
71             135 ST  10/01/2017     10509
72             135 ST  10/02/2017     21183
73             135 ST  10/03/2017     22492
74             135 ST  10/04/2017     22839
75             135 ST  10/05/2017     22575
76             135 ST  10/06/2017     22245
77    137 ST CITY COL  09/30/2017      8189
78    137 ST CITY COL  10/01/2017      7135
79    137 ST CITY COL  10/02/2017     15463
80    137 ST CITY COL  10/03/2017     15896
81    137 ST CITY COL  10/04/2017     16075
82    137 ST CITY COL  10/05/2017     16218
83    137 ST CITY COL  10/06/2017     15246
84     138/GRAND CONC  09/30/2017      1723
85     138/GRAND CONC  10/01/2017      1358
86     138/GRAND CONC  10/02/2017      3530
87     138/GRAND CONC  10/03/2017      3826
88     138/GRAND CONC  10/04/2017      3863
89     138/GRAND CONC  10/05/2017      3734
90     138/GRAND CONC  10/06/2017      3728
91              14 ST  09/30/2017     27019
92              14 ST  10/01/2017     28856
93              14 ST  10/02/2017     53642
94              14 ST  10/03/2017     60863
95              14 ST  10/04/2017     62596
96              14 ST  10/05/2017     63164
97              14 ST  10/06/2017     61059
98     14 ST-UNION SQ  09/30/2017     64562
99     14 ST-UNION SQ  10/01/2017     67997
100    14 ST-UNION SQ  10/02/2017    104394
101    14 ST-UNION SQ  10/03/2017    111640
102    14 ST-UNION SQ  10/04/2017    115949
103    14 ST-UNION SQ  10/05/2017    112343
104    14 ST-UNION SQ  10/06/2017    113873
105            145 ST  09/30/2017     23314
106            145 ST  10/01/2017     23221
107            145 ST  10/02/2017     38341
108            145 ST  10/03/2017     41497
109            145 ST  10/04/2017     41625
110            145 ST  10/05/2017     41624
111            145 ST  10/06/2017     40365
112    149/GRAND CONC  09/30/2017      5938
113    149/GRAND CONC  10/01/2017      5590
114    149/GRAND CONC  10/02/2017     15027
115    149/GRAND CONC  10/03/2017     16642
116    149/GRAND CONC  10/04/2017     16641
117    149/GRAND CONC  10/05/2017     16535
118    149/GRAND CONC  10/06/2017     15024
119       14TH STREET  09/30/2017      4514
120       14TH STREET  10/01/2017      5415
121       14TH STREET  10/02/2017      8197
122       14TH STREET  10/03/2017      9846
123       14TH STREET  10/04/2017     10559
124       14TH STREET  10/05/2017      8289
125       14TH STREET  10/06/2017      9945
126    15 ST-PROSPECT  09/30/2017      2842
127    15 ST-PROSPECT  10/01/2017      2678
128    15 ST-PROSPECT  10/02/2017      6419
129    15 ST-PROSPECT  10/03/2017      6832
130    15 ST-PROSPECT  10/04/2017      6946
131    15 ST-PROSPECT  10/05/2017      6771
132    15 ST-PROSPECT  10/06/2017      6459
133            155 ST  09/30/2017      3883
134            155 ST  10/01/2017      3479
135            155 ST  10/02/2017      6716
136            155 ST  10/03/2017      6829
137            155 ST  10/04/2017      7075
138            155 ST  10/05/2017      7001
139            155 ST  10/06/2017      7018
140            157 ST  09/30/2017      7350
141            157 ST  10/01/2017      6833
142            157 ST  10/02/2017     11153
143            157 ST  10/03/2017     11399
144            157 ST  10/04/2017     11642
145            157 ST  10/05/2017     11726
146            157 ST  10/06/2017     11567
147   161/YANKEE STAD  09/30/2017     23234
148   161/YANKEE STAD  10/01/2017     22263
149   161/YANKEE STAD  10/02/2017     23143
150   161/YANKEE STAD  10/03/2017     23373
151   161/YANKEE STAD  10/04/2017     39073
152   161/YANKEE STAD  10/05/2017     22927
153   161/YANKEE STAD  10/06/2017     22201
154   163 ST-AMSTERDM  09/30/2017      2949
155   163 ST-AMSTERDM  10/01/2017      2711
156   163 ST-AMSTERDM  10/02/2017      4516
157   163 ST-AMSTERDM  10/03/2017      4611
158   163 ST-AMSTERDM  10/04/2017      4734
159   163 ST-AMSTERDM  10/05/2017      4723
160   163 ST-AMSTERDM  10/06/2017      4696
161            167 ST  09/30/2017     11725
162            167 ST  10/01/2017     10673
163            167 ST  10/02/2017     20624
164            167 ST  10/03/2017     20933
165            167 ST  10/04/2017     21235
166            167 ST  10/05/2017     20843
167            167 ST  10/06/2017     20789
168            168 ST  09/30/2017     12026
169            168 ST  10/01/2017     12097
170            168 ST  10/02/2017     25568
171            168 ST  10/03/2017     27662
172            168 ST  10/04/2017     27610
173            168 ST  10/05/2017     27307
174            168 ST  10/06/2017     26567
175            169 ST  09/30/2017      4386
176            169 ST  10/01/2017      3800
177            169 ST  10/02/2017      9068
178            169 ST  10/03/2017      9445
179            169 ST  10/04/2017      9640
180            169 ST  10/05/2017      9648
181            169 ST  10/06/2017      9578
182            170 ST  09/30/2017      9433
183            170 ST  10/01/2017      8475
184            170 ST  10/02/2017     16637
185            170 ST  10/03/2017     17275
186            170 ST  10/04/2017     17304
187            170 ST  10/05/2017     17201
188            170 ST  10/06/2017     16917
189            174 ST  09/30/2017      2849
190            174 ST  10/01/2017      2482
191            174 ST  10/02/2017      5995
192            174 ST  10/03/2017      6290
193            174 ST  10/04/2017      6340
194            174 ST  10/05/2017      6205
195            174 ST  10/06/2017      6414
196       174-175 STS  09/30/2017      2980
197       174-175 STS  10/01/2017      2699
198       174-175 STS  10/02/2017      5483
199       174-175 STS  10/03/2017      5764
200       174-175 STS  10/04/2017      5756
201       174-175 STS  10/05/2017      5678
202       174-175 STS  10/06/2017      5649
203            175 ST  09/30/2017      7531
204            175 ST  10/01/2017      7424
205            175 ST  10/02/2017     13887
206            175 ST  10/03/2017     14077
207            175 ST  10/04/2017     14375
208            175 ST  10/05/2017     14051
209            175 ST  10/06/2017     13714
210            176 ST  09/30/2017      3682
211            176 ST  10/01/2017      3452
212            176 ST  10/02/2017      6771
213            176 ST  10/03/2017      6900
214            176 ST  10/04/2017      6710
215            176 ST  10/05/2017      6801
216            176 ST  10/06/2017      6712
217             18 AV  09/30/2017      7840
218             18 AV  10/01/2017      8007
219             18 AV  10/02/2017     15403
220             18 AV  10/03/2017     15477
221             18 AV  10/04/2017     15427
222             18 AV  10/05/2017     14429
223             18 AV  10/06/2017     14229
224             18 ST  09/30/2017      3783
225             18 ST  10/01/2017      3661
226             18 ST  10/02/2017      7972
227             18 ST  10/03/2017      8896
228             18 ST  10/04/2017      9410
229             18 ST  10/05/2017      9581
230             18 ST  10/06/2017      8993
231            181 ST  09/30/2017     13724
232            181 ST  10/01/2017     14399
233            181 ST  10/02/2017     23488
234            181 ST  10/03/2017     24168
235            181 ST  10/04/2017     23767
236            181 ST  10/05/2017     22854
237            181 ST  10/06/2017     22849
238       182-183 STS  09/30/2017      2567
239       182-183 STS  10/01/2017      2490
240       182-183 STS  10/02/2017      4803
241       182-183 STS  10/03/2017      5133
242       182-183 STS  10/04/2017      5039
243       182-183 STS  10/05/2017      5022
244       182-183 STS  10/06/2017      5009
245            183 ST  09/30/2017      4055
246            183 ST  10/01/2017      3655
247            183 ST  10/02/2017      6601
248            183 ST  10/03/2017      6756
249            183 ST  10/04/2017      6779
...               ...         ...       ...
2369        SPRING ST  10/02/2017     21711
2370        SPRING ST  10/03/2017     23700
2371        SPRING ST  10/04/2017     24540
2372        SPRING ST  10/05/2017     24825
2373        SPRING ST  10/06/2017     25607
2374   ST LAWRENCE AV  09/30/2017      2591
2375   ST LAWRENCE AV  10/01/2017      2348
2376   ST LAWRENCE AV  10/02/2017      4424
2377   ST LAWRENCE AV  10/03/2017      4671
2378   ST LAWRENCE AV  10/04/2017      4543
2379   ST LAWRENCE AV  10/05/2017      4616
2380   ST LAWRENCE AV  10/06/2017      4451
2381       ST. GEORGE  09/30/2017      4138
2382       ST. GEORGE  10/01/2017      4019
2383       ST. GEORGE  10/02/2017     15589
2384       ST. GEORGE  10/03/2017     16399
2385       ST. GEORGE  10/04/2017     16386
2386       ST. GEORGE  10/05/2017     16363
2387       ST. GEORGE  10/06/2017     14848
2388      STEINWAY ST  09/30/2017      7067
2389      STEINWAY ST  10/01/2017      5953
2390      STEINWAY ST  10/02/2017     14064
2391      STEINWAY ST  10/03/2017     15504
2392      STEINWAY ST  10/04/2017     15579
2393      STEINWAY ST  10/05/2017     15723
2394      STEINWAY ST  10/06/2017     15868
2395      STERLING ST  09/30/2017      2934
2396      STERLING ST  10/01/2017      2636
2397      STERLING ST  10/02/2017      6073
2398      STERLING ST  10/03/2017      6251
2399      STERLING ST  10/04/2017      6109
2400      STERLING ST  10/05/2017      5736
2401      STERLING ST  10/06/2017      5683
2402     SUTPHIN BLVD  09/30/2017      1599
2403     SUTPHIN BLVD  10/01/2017      1197
2404     SUTPHIN BLVD  10/02/2017      4586
2405     SUTPHIN BLVD  10/03/2017      4819
2406     SUTPHIN BLVD  10/04/2017      5308
2407     SUTPHIN BLVD  10/05/2017      4687
2408     SUTPHIN BLVD  10/06/2017      4712
2409   SUTPHIN-ARCHER  09/30/2017     12901
2410   SUTPHIN-ARCHER  10/01/2017     12463
2411   SUTPHIN-ARCHER  10/02/2017     25208
2412   SUTPHIN-ARCHER  10/03/2017     25232
2413   SUTPHIN-ARCHER  10/04/2017     24040
2414   SUTPHIN-ARCHER  10/05/2017     24856
2415   SUTPHIN-ARCHER  10/06/2017     25097
2416        SUTTER AV  09/30/2017      2387
2417        SUTTER AV  10/01/2017      2178
2418        SUTTER AV  10/02/2017      4769
2419        SUTTER AV  10/03/2017      4855
2420        SUTTER AV  10/04/2017      4887
2421        SUTTER AV  10/05/2017      4802
2422        SUTTER AV  10/06/2017      4758
2423  SUTTER AV-RUTLD  09/30/2017      3466
2424  SUTTER AV-RUTLD  10/01/2017      3170
2425  SUTTER AV-RUTLD  10/02/2017      7169
2426  SUTTER AV-RUTLD  10/03/2017      7281
2427  SUTTER AV-RUTLD  10/04/2017      7324
2428  SUTTER AV-RUTLD  10/05/2017      7237
2429  SUTTER AV-RUTLD  10/06/2017      7177
2430        THIRTY ST  09/30/2017      4811
2431        THIRTY ST  10/01/2017      4943
2432        THIRTY ST  10/02/2017     10329
2433        THIRTY ST  10/03/2017     12057
2434        THIRTY ST  10/04/2017     10499
2435        THIRTY ST  10/05/2017     10121
2436        THIRTY ST  10/06/2017     11394
2437  THIRTY THIRD ST  09/30/2017     10127
2438  THIRTY THIRD ST  10/01/2017     10342
2439  THIRTY THIRD ST  10/02/2017     25224
2440  THIRTY THIRD ST  10/03/2017     25809
2441  THIRTY THIRD ST  10/04/2017     27662
2442  THIRTY THIRD ST  10/05/2017     24493
2443  THIRTY THIRD ST  10/06/2017     24839
2444   TIMES SQ-42 ST  09/30/2017     47984
2445   TIMES SQ-42 ST  10/01/2017     59752
2446   TIMES SQ-42 ST  10/02/2017     94960
2447   TIMES SQ-42 ST  10/03/2017    100446
2448   TIMES SQ-42 ST  10/04/2017    105748
2449   TIMES SQ-42 ST  10/05/2017    104465
2450   TIMES SQ-42 ST  10/06/2017    104879
2451    TOMPKINSVILLE  09/30/2017       553
2452    TOMPKINSVILLE  10/01/2017       442
2453    TOMPKINSVILLE  10/02/2017       918
2454    TOMPKINSVILLE  10/03/2017       921
2455    TOMPKINSVILLE  10/04/2017       918
2456    TOMPKINSVILLE  10/05/2017       918
2457    TOMPKINSVILLE  10/06/2017       860
2458       TREMONT AV  09/30/2017      5573
2459       TREMONT AV  10/01/2017      4642
2460       TREMONT AV  10/02/2017     10230
2461       TREMONT AV  10/03/2017     10609
2462       TREMONT AV  10/04/2017     10668
2463       TREMONT AV  10/05/2017     10556
2464       TREMONT AV  10/06/2017     10500
2465  TWENTY THIRD ST  09/30/2017      2826
2466  TWENTY THIRD ST  10/01/2017      2973
2467  TWENTY THIRD ST  10/02/2017      9578
2468  TWENTY THIRD ST  10/03/2017     11100
2469  TWENTY THIRD ST  10/04/2017     11253
2470  TWENTY THIRD ST  10/05/2017      9210
2471  TWENTY THIRD ST  10/06/2017      9557
2472         UNION ST  09/30/2017      2787
2473         UNION ST  10/01/2017      3176
2474         UNION ST  10/02/2017      6109
2475         UNION ST  10/03/2017      6725
2476         UNION ST  10/04/2017      6738
2477         UNION ST  10/05/2017      6919
2478         UNION ST  10/06/2017      6446
2479         UTICA AV  09/30/2017     10553
2480         UTICA AV  10/01/2017      9567
2481         UTICA AV  10/02/2017     17417
2482         UTICA AV  10/03/2017     18237
2483         UTICA AV  10/04/2017     18624
2484         UTICA AV  10/05/2017     18123
2485         UTICA AV  10/06/2017     18066
2486   V.CORTLANDT PK  09/30/2017      4098
2487   V.CORTLANDT PK  10/01/2017      4689
2488   V.CORTLANDT PK  10/02/2017      7708
2489   V.CORTLANDT PK  10/03/2017      8406
2490   V.CORTLANDT PK  10/04/2017      8334
2491   V.CORTLANDT PK  10/05/2017      8257
2492   V.CORTLANDT PK  10/06/2017      8378
2493    VAN SICLEN AV  09/30/2017      3342
2494    VAN SICLEN AV  10/01/2017      3087
2495    VAN SICLEN AV  10/02/2017      6391
2496    VAN SICLEN AV  10/03/2017      6591
2497    VAN SICLEN AV  10/04/2017      6601
2498    VAN SICLEN AV  10/05/2017      6658
2499    VAN SICLEN AV  10/06/2017      6528
2500   VAN SICLEN AVE  09/30/2017      1797
2501   VAN SICLEN AVE  10/01/2017      1609
2502   VAN SICLEN AVE  10/02/2017      3380
2503   VAN SICLEN AVE  10/03/2017      3499
2504   VAN SICLEN AVE  10/04/2017      3620
2505   VAN SICLEN AVE  10/05/2017      3525
2506   VAN SICLEN AVE  10/06/2017      3481
2507   VERNON-JACKSON  09/30/2017      7870
2508   VERNON-JACKSON  10/01/2017      8359
2509   VERNON-JACKSON  10/02/2017     16009
2510   VERNON-JACKSON  10/03/2017     16903
2511   VERNON-JACKSON  10/04/2017     16808
2512   VERNON-JACKSON  10/05/2017     16906
2513   VERNON-JACKSON  10/06/2017     16733
2514   W 4 ST-WASH SQ  09/30/2017     23315
2515   W 4 ST-WASH SQ  10/01/2017     28309
2516   W 4 ST-WASH SQ  10/02/2017     39401
2517   W 4 ST-WASH SQ  10/03/2017     43661
2518   W 4 ST-WASH SQ  10/04/2017     44492
2519   W 4 ST-WASH SQ  10/05/2017     45156
2520   W 4 ST-WASH SQ  10/06/2017     44565
2521  W 8 ST-AQUARIUM  09/30/2017      1039
2522  W 8 ST-AQUARIUM  10/01/2017      1240
2523  W 8 ST-AQUARIUM  10/02/2017      2241
2524  W 8 ST-AQUARIUM  10/03/2017      2340
2525  W 8 ST-AQUARIUM  10/04/2017      2288
2526  W 8 ST-AQUARIUM  10/05/2017      2404
2527  W 8 ST-AQUARIUM  10/06/2017      2364
2528    WAKEFIELD/241  09/30/2017         0
2529    WAKEFIELD/241  10/01/2017         1
2530    WAKEFIELD/241  10/02/2017      5115
2531    WAKEFIELD/241  10/03/2017      5647
2532    WAKEFIELD/241  10/04/2017      5630
2533    WAKEFIELD/241  10/05/2017      5620
2534    WAKEFIELD/241  10/06/2017      5532
2535          WALL ST  09/30/2017      8740
2536          WALL ST  10/01/2017      7456
2537          WALL ST  10/02/2017     45485
2538          WALL ST  10/03/2017     50298
2539          WALL ST  10/04/2017     49491
2540          WALL ST  10/05/2017     49180
2541          WALL ST  10/06/2017     44517
2542    WEST FARMS SQ  09/30/2017      3671
2543    WEST FARMS SQ  10/01/2017      3219
2544    WEST FARMS SQ  10/02/2017      7600
2545    WEST FARMS SQ  10/03/2017      7923
2546    WEST FARMS SQ  10/04/2017      8211
2547    WEST FARMS SQ  10/05/2017      7768
2548    WEST FARMS SQ  10/06/2017      7735
2549   WESTCHESTER SQ  09/30/2017      2879
2550   WESTCHESTER SQ  10/01/2017      2486
2551   WESTCHESTER SQ  10/02/2017      6764
2552   WESTCHESTER SQ  10/03/2017      7431
2553   WESTCHESTER SQ  10/04/2017      7210
2554   WESTCHESTER SQ  10/05/2017      6995
2555   WESTCHESTER SQ  10/06/2017      6983
2556  WHITEHALL S-FRY  09/30/2017      8195
2557  WHITEHALL S-FRY  10/01/2017      7830
2558  WHITEHALL S-FRY  10/02/2017     19499
2559  WHITEHALL S-FRY  10/03/2017     20530
2560  WHITEHALL S-FRY  10/04/2017     20611
2561  WHITEHALL S-FRY  10/05/2017     20732
2562  WHITEHALL S-FRY  10/06/2017     19892
2563      WHITLOCK AV  09/30/2017      1113
2564      WHITLOCK AV  10/01/2017      1043
2565      WHITLOCK AV  10/02/2017      2168
2566      WHITLOCK AV  10/03/2017      2240
2567      WHITLOCK AV  10/04/2017      2317
2568      WHITLOCK AV  10/05/2017      2223
2569      WHITLOCK AV  10/06/2017      2206

In [92]:
ent_agg.columns = ent_agg.columns.droplevel(level=1)
ext_agg.columns = ext_agg.columns.droplevel(level=1)

#Creating a new data frame removing repeted values
q_mta = pd.merge(ent_agg, ext_agg, on=['STATION','DATE'], how='left')

In [96]:
q_mta.sort_values(by=['ENT_COUNT'], ascending = 0, inplace = True)
uni_stations = q_mta.STATION.unique()[:30]
len(uni_stations)
print(uni_stations)

['34 ST-PENN STA' 'GRD CNTRL-42 ST' '23 ST' '34 ST-HERALD SQ'
 '14 ST-UNION SQ' 'TIMES SQ-42 ST' 'FULTON ST' '86 ST' '42 ST-PORT AUTH'
 '59 ST COLUMBUS' '125 ST' '59 ST' 'CHAMBERS ST' 'CANAL ST' '96 ST'
 '47-50 STS ROCK' '14 ST' 'FLUSHING-MAIN' '28 ST' '50 ST'
 'JKSN HT-ROOSVLT' 'JAY ST-METROTEC' 'WALL ST' 'ATL AV-BARCLAY' '72 ST'
 '42 ST-BRYANT PK' 'W 4 ST-WASH SQ' '7 AV' 'BOROUGH HALL' 'JAMAICA CENTER']

In [ ]:
# Next step! Combine days together and analyze what locations are the most popular and one what days
import seaborn as sns
g = sns.FacetGrid(mta, row='STATION', col='TURNSTILE', sharex=True, sharey=True)
g.map(plt.hist, "Cu_ENT")

#### Challenge 1   
  
- Open up a new IPython notebook
- Download a few MTA turnstile data files
- Open up a file, use csv reader to read it, make a python dict where
  there is a key for each (C/A, UNIT, SCP, STATION). These are the
  first four columns. The value for this key should be a list of
  lists. Each list in the list is the rest of the columns in a
  row. For example, one key-value pair should look like


{    ('A002','R051','02-00-00','LEXINGTON AVE'):
[
['NQR456', 'BMT', '01/03/2015', '03:00:00', 'REGULAR', '0004945474', '0001675324'],
['NQR456', 'BMT', '01/03/2015', '07:00:00', 'REGULAR', '0004945478', '0001675333'],
['NQR456', 'BMT', '01/03/2015', '11:00:00', 'REGULAR', '0004945515', '0001675364'],
...
]
}

#### Challenge 2

- Let's turn this into a time series.

 For each key (basically the control area, unit, device address and
 station of a specific turnstile), have a list again, but let the list
 be comprised of just the point in time and the count of entries.

This basically means keeping only the date, time, and entries fields
in each list. You can convert the date and time into datetime objects
-- That is a python class that represents a point in time. You can
combine the date and time fields into a string and use the
[dateutil](https://labix.org/python-dateutil) module to convert it
into a datetime object. For an example check
[this StackOverflow question](http://stackoverflow.com/questions/23385003/attributeerror-when-using-import-dateutil-and-dateutil-parser-parse-but-no).

Your new dict should look something like

{    ('A002','R051','02-00-00','LEXINGTON AVE'):
[
[datetime.datetime(2013, 3, 2, 3, 0), 3788],
[datetime.datetime(2013, 3, 2, 7, 0), 2585],
[datetime.datetime(2013, 3, 2, 12, 0), 10653],
[datetime.datetime(2013, 3, 2, 17, 0), 11016],
[datetime.datetime(2013, 3, 2, 23, 0), 10666],
[datetime.datetime(2013, 3, 3, 3, 0), 10814],
[datetime.datetime(2013, 3, 3, 7, 0), 10229],
...
],
....
}

#### Challenge 3

- These counts are for every n hours. (What is n?) We want total daily
  entries.

Now make it that we again have the same keys, but now we have a single
value for a single day, which is the total number of passengers that
entered through this turnstile on this day.

#### Challenge 4

We will plot the daily time series for a turnstile.

In ipython notebook, add this to the beginning of your next cell:

    %matplotlib inline

This will make your matplotlib graphs integrate nicely with the
notebook. To plot the time series, import matplotlib with

    import matplotlib.pyplot as plt

Take the list of [(date1, count1), (date2, count2), ...], for the
turnstile and turn it into two lists:
dates and counts. This should plot it:

    plt.figure(figsize=(10,3))
    plt.plot(dates,counts)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

#### Challenge 5

- So far we've been operating on a single turnstile level, let's
  combine turnstiles in the same ControlArea/Unit/Station combo. There
  are some ControlArea/Unit/Station groups that have a single
  turnstile, but most have multiple turnstilea-- same value for the
  C/A, UNIT and STATION columns, different values for the SCP column.

We want to combine the numbers together -- for each
ControlArea/UNIT/STATION combo, for each day, add the counts from each
turnstile belonging to that combo.

#### Challenge 6

Similarly, combine everything in each station, and come up with a time
series of `[(date1, count1),(date2,count2),...]` type of time series
for each STATION, by adding up all the turnstiles in a station.

#### Challenge 7

Plot the time series for a station.

#### Challenge 8

- Make one list of counts for **one** week for one station. Monday's
count, Tuesday's count, etc. so it's a list of 7 counts.
Make the same list for another week, and another week, and another
week.
`plt.plot(week_count_list)` for every `week_count_list` you created
this way. You should get a rainbow plot of weekly commute numbers on
top of each other.

#### Challenge 9

- Over multiple weeks, sum total ridership for each station and sort
  them, so you can find out the stations with the highest traffic
  during the time you investigate

#### Challenge 10

- Make a single list of these total ridership values and plot it with

    plt.hist(total_ridership_counts)

to get an idea about the distribution of total ridership among
different stations.

This should show you that most stations have a small traffic, and the
histogram bins for large traffic volumes have small bars.

*Additional Hint*:

If you want to see which stations take the meat of the traffic, you
can sort the total ridership counts and make a `plt.bar` graph. For
this, you want to have two lists: the indices of each bar, and the
values. The indices can just be `0,1,2,3,...`, so you can do

    indices = range(len(total_ridership_values))
    plt.bar(indices, total_ridership_values)