# Talking Data

The purpose of this project is to use mobile user data to predict the age group of the user.  The age groups are split betweeen either female or male, then from below 23,to above 43.  Here is what it looks for females: F23-, F24-26, F27-28, F29-32, F33-42, F43+. 

The data is from the Chinese company TalkingData. There are several data sets, each a unique csv: gender_age_train, gender_age_test, events, app_events, app_labels, label_categories and phone_brand_device_model.

In [148]:
#Importing the packages needed for this analysis
from pygeocoder import Geocoder
import pandas as pd
import io
import numpy as np
import pickle
import math
import re
import reverse_geocoder as rg
from datetime import *
from scipy import stats
import dateutil.parser
from IPython.display import display
from sklearn import preprocessing
from googletrans import Translator
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, RobustScaler
from IPython.core.interactiveshell import InteractiveShell
import goslate
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
%config InlineBackend.figure_format = 'png'

plt.rcParams['figure.dpi']= 400

In [149]:
#Connecting to SQL database on an AWS EC2 instance
from sqlalchemy import create_engine
import pandas as pdb
cnx = create_engine('postgresql://djmor@34.234.69.231/djmor')

In [150]:
#Loading in coordinates to fast track reverse geocoding
geo = rg.RGeocoder(mode=2, verbose=True, stream=io.StringIO(open('rg_cities1000.csv', encoding='utf-8').read()))

In [184]:
#List of classification types 
classes = {'F23-':0, 'F24-26':1,'F27-28':2,'F29-32':3, 'F33-42':4, 'F43+':5, 'M22-':6, 'M23-26':7, 'M27-28':8, 'M29-31':9, 'M32-38':10, 'M39+':11}

In [185]:
#Creating all the data frames
device_brand = pd.read_csv('phone_brand_device_model.csv')
applabeldf = pd.read_csv('app_labels.csv')
labelcat = pd.read_csv('label_categories.csv')
genderdf = pd.read_csv('gender_age_train.csv')
eventsdf = pd.read_csv('~/Documents/events.csv')
appevents = pd.read_csv('~/Documents/app_events.csv')
testdf = pd.read_csv('gender_age_test.csv')

In [186]:
testdf.head()
genderdf.head()
genderdf.shape

             device_id
0  1002079943728939269
1 -1547860181818787117
2  7374582448058474277
3 -6220210354783429585
4 -5893464122623104785

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

(74645, 4)

In [187]:
device_brand.shape
device_brand = device_brand.drop_duplicates('device_id',keep='first')
device_brand.shape

(187245, 3)

(186716, 3)

In [188]:
#Getting an idea on how each df connects with each other
device_brand.head()
appevents.head()
labelcat.head()
eventsdf.head()
applabeldf.head()

             device_id phone_brand   device_model
0 -8890648629457979026          小米             红米
1  1277779817574759137          小米           MI 2
2  5137427614288105724          三星      Galaxy S4
3  3669464369358936369       SUGAR           时尚手机
4 -5019277647504317457          三星  Galaxy Note 2

   event_id               app_id  is_installed  is_active
0         2  5927333115845830913             1          1
1         2 -5720078949152207372             1          0
2         2 -1633887856876571208             1          0
3         2  -653184325010919369             1          1
4         2  8693964245073640147             1          1

   label_id           category
0         1                NaN
1         2     game-game type
2         3   game-Game themes
3         4     game-Art Style
4         5  game-Leisure time

   event_id            device_id            timestamp  longitude  latitude
0         1    29182687948017175  2016-05-01 00:55:25     121.38     31.24
1         2 -6401643145415154744  2016-05-01 00:54:12     103.65     30.97
2         3 -4833982096941402721  2016-05-01 00:08:05     106.60     29.70
3         4 -6815121365017318426  2016-05-01 00:06:40     104.27     23.28
4         5 -5373797595892518570  2016-05-01 00:07:18     115.88     28.66

                app_id  label_id
0  7324884708820027918       251
1 -4494216993218550286       251
2  6058196446775239644       406
3  6058196446775239644       407
4  8694625920731541625       406

In [174]:
device_brand.shape
appevents.shape
labelcat.shape
eventsdf.shape
applabeldf.shape

(186716, 3)

(32473067, 4)

(930, 2)

(3252950, 9)

(459943, 2)

In [175]:
#Translating Phone brand to English for easier comprehension
translate = {'三星':'samsung','天语':'Ktouch','海信':'hisense','联想':'lenovo','欧比':'obi','爱派尔':'ipair','努比亚':'nubia',\
             '优米':'youmi','朵唯':'dowe','黑米':'heymi','锤子':'hammer','酷比魔方':'koobee','美图':'meitu','尼比鲁':'nibilu','一加':'oneplus','优购':'yougo',\
             '诺基亚':'nokia','金立':'jinli','中兴':'zhongxing','糖葫芦':'candy','中国移动':'ccmc','语信':'yuxin','基伍':'kiwu','青橙':'greeno','华硕':'asus',\
             '夏新':'panosonic','维图':'weitu','艾优尼':'aiyouni','摩托罗拉':'moto','乡米':'xiangmi','米奇':'micky','大可乐':'bigcola',\
             '沃普丰':'wpf','神舟':'hasse','摩乐':'mole','酷派':'kupai','飞秒':'fs','米歌':'mige','富可视':'fks','德赛':'desci','梦米':'mengmi','乐视':'lshi','小杨树':'smallt','纽曼':'newman','邦华':'banghua',\
             'E派':'epai','华为':'Huawei','小米':'xiaomi','魅族':'meizu', '易派':'epai','普耐尔':'pner','欧新':'ouxin','西米':'ximi','海尔':'haier','波导':'bodao','糯米':'nuomi','唯米':'weimi','酷珀':'kupo','谷歌':'google','昂达':'ada','聆韵': 'lingyun'}

In [176]:
#Translating phone brand from Chinese to English

for index, i in enumerate(device_brand['phone_brand']):
    if i in translate:
        device_brand.loc[index,'phone_brand'] = translate[i]

In [177]:
#Using an offline reverse geocoder to get city and country data, also this takes a long time to run...
counter =0
eventsdf['city'] = ''
tup_ls = []
for i,j in zip(eventsdf['latitude'],eventsdf['longitude']):
        lalong = (i,j)
        tup_ls.append(lalong)

In [178]:
q_list = geo.query(tup_ls)
name_l = []
cc_l = []
for q in q_list:
    name_l.append(q['name'])
    cc_l.append(q['cc'])

In [179]:
eventsdf['city'] = name_l
eventsdf['cc'] = cc_l

In [180]:
#Filling NaN with none for better processing
labelcat.fillna('None', inplace = True)

In [181]:
#Pulling out Month data
eventsdf['time_dl'] = eventsdf['timestamp'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d  %H:%M:%S').time())
eventsdf['wkday'] = eventsdf['timestamp'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d  %H:%M:%S').weekday())

In [182]:
#Writing a pickle file to save data

with open('eventsdf.pkl', 'wb') as picklefile:
    pickle.dump(eventsdf, picklefile)

In [183]:
eventsdf.shape

(3252950, 9)

## Merging the Data

This section may become obsolete after I get the SQL database going, but as for now, it exists.***Delete Eventually***

I will be using Inner joins to merge the data frames.  My guess is that both training and test data is in each of the auxilary columns, so I only want the intersection of the training dataframe and the auxilary dataframes.

In this section, I also added some extra data.  I pulled out the datetime string and converted into into a readable datetime object.  The time of day and day of the week may not make much of a difference.  It depends on the culture of the society.

In [165]:
#Loading DF into jupyter notebook
eventsdf = pd.read_pickle('eventsdf.pkl')

In [166]:
def supermerge(dfleft):
    result = pd.merge(dfleft, device_brand, how = 'inner', on = 'device_id')
    result = pd.merge(result, eventsdf, how = 'inner', on = 'device_id')
    result = pd.merge(result, appevents, how = 'inner', on = 'event_id')
    result = pd.merge(result, applabeldf, how = 'inner', on = 'app_id')
    result = pd.merge(result, labelcat, how = 'inner', on = 'label_id')
    return result

In [167]:
traindf = supermerge(genderdf)

In [ ]:
testdf = supermerge(testdf)
traindf.drop(['longitude', 'latitude','label_id', 'timestamp', 'is_installed','device_id'], axis=1, inplace = True)
traindf['app_id'] = traindf['app_id'].apply(lambda x: abs(x))

In [ ]:
traindf.drop(['gender','age', 'longitude', 'latitude','label_id', 'timestamp', 'is_installed','device_id'], axis=1, inplace = True)
traindf['app_id'] = traindf['app_id'].apply(lambda x: abs(x))

In [169]:
traindf.shape

(79061565, 11)

## Preprocessing

The data has many categorical variables that we are using, so a little preprocessing is needed.  I will be using OneHotEncoder to do this for me.

In [170]:
from sklearn import preprocessing
enc = preprocessing.OneHotEncoder()
for column in traindf.columns:
    if traindf[column].dtype == type(object):
        le = preprocessing.LabelEncoder()
        traindf[column] = le.fit_transform(traindf[column])
        #traindf[column] = enc.fit_transform(traindf[column])

KeyboardInterrupt:

In [ ]:
# STEP 1: split X and y into training and testing sets
y = traindf['class']
X= traindf.drop(['group','class'], axis=1)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=42)

In [ ]:
X_train.shape

In [ ]:
X_train.columns

## Logistic Classification Analysis

The amount of data in the dataframe will make most of the analysis long.  There are 79 million observations, and even splitting it up will make it hard.  Some of the data is in different countries, so dividing it into subsections such as Country, City and Device Brand may make it easier for analysis.

In [189]:
# STEP 1: split X and y into training and testing sets
X_train2, X_test2, y_train2, y_test2 = train_test_split(X_train, y_train, test_size=0.3, random_state=65)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, f1_score
logit = LogisticRegression(C=0.02, multi_class='multinomial',solver='lbfgs')

In [191]:
logit.fit(X_train2, y_train2)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [192]:
y_pred = logit.predict(X_test2)

In [197]:
f1_score(y_test2, y_pred, average='micro')

0.349340951689945

In [194]:
# confusion matrix
confusion_matrix(y_test2,y_pred)

array([[    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,  1125,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,  1680,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,  1269,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,  2853,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,  3026,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,  2694,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,   440,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,  6542,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,  3281,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,  9550,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0, 23111,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0, 10585,     0]])

## Looking at Trees

Below is looking at the Decision Tree and Random Forests classification methods to see how it differs from the analysis above.

In [137]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [198]:
dtree = DecisionTreeClassifier(max_depth=3)
rtree = RandomForestClassifier()

In [199]:
dmodel = dtree.fit(X_train2, y_train2)

In [200]:
#Experiement to see if i should try random forests
from sklearn.model_selection import cross_val_score
cross_val_score(dtree, X_train2, y_train2, cv=10)

array([0.56716321, 0.56353627, 0.56850424, 0.56701432, 0.56426535,
       0.5704198 , 0.57382572, 0.5680596 , 0.57402968, 0.56544842])

In [201]:
y_tree = dmodel.predict(X_test2)

In [202]:
f1_score(y_test2, y_tree, average = 'micro')

0.5688221778825806

In [203]:
# confusion matrix
confusion_matrix(y_test2,y_tree)

array([[    0,     0,     0,     0,     0,     0,     0,     0,     0,
           25,   949,   151],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,  1680,     0],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,  1269,     0],
       [    0,     0,     0,  1762,     0,     0,     0,     0,     0,
            0,   935,   156],
       [    0,     0,     0,     0,  2259,     0,     0,     0,     0,
            0,    63,   704],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
          726,  1884,    84],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
            0,   377,    63],
       [    0,     0,     0,     0,     0,     0,     0,  1985,     0,
          134,  2298,  2125],
       [    0,     0,     0,     0,     0,     0,     0,     0,     0,
          289,  2963,    29],
       [    0,     0,     0,     0,     0,     0,     0,   109,     0,
         4407,  2567,  2467],
       [    0,     0,     0,    71,     0,     0,     0,   225,     0,
         1823, 20584,   408],
       [    0,     0,     0,    66,   146,     0,     0,     0,     0,
          807,  2932,  6634]])

In [ ]:
rmodel = rtree.fit(X_train2, y_train2)

In [ ]:
y_rtree = rmodel.predict(X_test2)
f1_score(y_test2, y_tree, average = 'micro')

In [206]:
importances = dmodel.feature_importances_
std = np.std([dmodel.feature_importances_ for tree in importances],axis=0)
indices = np.argsort(importances)[::-1]

# Print the feature ranking
print("Feature ranking:")

for index,f in enumerate(X_train2.columns):
    print("%d. %s (%f)" % (index+1 , f, importances[indices[index]]))

# Plot the feature importances of the forest
plt.figure()
plt.title("Feature importances")
plt.bar(range(X_train2.shape[1]), importances[indices],color="r", yerr=std[indices], align="center")
plt.xticks(range(X_train2.shape[1]), indices)
plt.xlim([-1, X_train2.shape[1]])
plt.show()

Feature ranking:
1. phone_brand (0.614310)
2. device_model (0.259058)
3. event_id (0.126632)
4. city (0.000000)
5. cc (0.000000)
6. time_dl (0.000000)
7. wkday (0.000000)
8. app_id (0.000000)
9. is_active (0.000000)
10. category (0.000000)

Text(0.5,1,'Feature importances')

([<matplotlib.axis.XTick at 0x1a35553f28>,
  <matplotlib.axis.XTick at 0x1b04453208>,
  <matplotlib.axis.XTick at 0x1a318c53c8>,
  <matplotlib.axis.XTick at 0x1b2b6be5c0>,
  <matplotlib.axis.XTick at 0x1b2b6be438>,
  <matplotlib.axis.XTick at 0x1b2b6bed68>,
  <matplotlib.axis.XTick at 0x1a85550518>,
  <matplotlib.axis.XTick at 0x1a855504e0>,
  <matplotlib.axis.XTick at 0x1b2aaa96a0>,
  <matplotlib.axis.XTick at 0x1b1b7021d0>],
 <a list of 10 Text xticklabel objects>)

(-1, 10)

KeyboardInterrupt: