# Talking Data

The purpose of this project is to use mobile user data to predict the age group of the user.  The age groups are split betweeen either female or male, then from below 23,to above 43.  Here is what it looks for females: F23-, F24-26, F27-28, F29-32, F33-42, F43+. 

The data is from the Chinese company TalkingData. There are several data sets, each a unique csv: gender_age_train, gender_age_test, events, app_events, app_labels, label_categories and phone_brand_device_model.

In [102]:
#Importing the packages needed for this analysis
import pandas as pd
import numpy as np
import math
import re
import time
from datetime import *
from scipy import stats
import dateutil.parser
from IPython.display import display
from sklearn import preprocessing
from sklearn.metrics import mean_squared_error
from googletrans import Translator
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, RobustScaler
from IPython.core.interactiveshell import InteractiveShell
import goslate
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
%config InlineBackend.figure_format = 'png'

plt.rcParams['figure.dpi']= 400

In [ ]:
#Connecting to SQL database on an AWS EC2 instance
from sqlalchemy import create_engine
import pandas as pdb
cnx = create_engine('postgresql://djmor@34.234.69.231/djmor')

In [2]:
#List of classification types 
classes = ['F23-', 'F24-26','F27-28','F29-32', 'F33-42', 'F43+', 'M22-', 'M23-26', 'M27-28', 'M29-31', 'M32-38', 'M39+']

('M22-', 'M23-26', 'M27-28', 'M29-31', 'M32-38', 'M39+')

In [85]:
trans = Translator()
a = trans.translate('欧比')
a.text

'Obi'

In [127]:
#Creating all the data frames
device_brand = pd.read_csv('phone_brand_device_model.csv')
applabeldf = pd.read_csv('app_labels.csv')
labelcat = pd.read_csv('label_categories.csv')
genderdf = pd.read_csv('gender_age_train.csv')
eventsdf = pd.read_csv('events.csv')
appevents = pd.read_csv('~/Downloads/app_events.csv')
testdf = pd.read_csv('gender_age_test.csv')

In [38]:
testdf.head()
genderdf.head()

             device_id
0  1002079943728939269
1 -1547860181818787117
2  7374582448058474277
3 -6220210354783429585
4 -5893464122623104785

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

In [39]:
#Getting an idea on how each df connects with each other
device_brand.head()
appevents.head()
labelcat.head()
eventsdf.head()
applabeldf.head()

             device_id phone_brand   device_model
0 -8890648629457979026          小米             红米
1  1277779817574759137          小米           MI 2
2  5137427614288105724          三星      Galaxy S4
3  3669464369358936369       SUGAR           时尚手机
4 -5019277647504317457          三星  Galaxy Note 2

   event_id               app_id  is_installed  is_active
0         2  5927333115845830913             1          1
1         2 -5720078949152207372             1          0
2         2 -1633887856876571208             1          0
3         2  -653184325010919369             1          1
4         2  8693964245073640147             1          1

   label_id           category
0         1                NaN
1         2     game-game type
2         3   game-Game themes
3         4     game-Art Style
4         5  game-Leisure time

   event_id            device_id            timestamp  longitude  latitude
0         1    29182687948017175  2016-05-01 00:55:25     121.38     31.24
1         2 -6401643145415154744  2016-05-01 00:54:12     103.65     30.97
2         3 -4833982096941402721  2016-05-01 00:08:05     106.60     29.70
3         4 -6815121365017318426  2016-05-01 00:06:40     104.27     23.28
4         5 -5373797595892518570  2016-05-01 00:07:18     115.88     28.66

                app_id  label_id
0  7324884708820027918       251
1 -4494216993218550286       251
2  6058196446775239644       406
3  6058196446775239644       407
4  8694625920731541625       406

In [123]:
#Translating Phone brand to English for easier comprehension
translate = {'三星':'samsung','天语':'Ktouch','海信':'hisense','联想':'lenovo','欧比':'obi','爱派尔':'ipair','努比亚':'nubia',\
             '优米':'youmi','朵唯':'dowe','黑米':'heymi','锤子':'hammer','酷比魔方':'koobee','美图':'meitu','尼比鲁':'nibilu','一加':'oneplus','优购':'yougo',\
             '诺基亚':'nokia','金立':'jinli','中兴':'zhongxing','糖葫芦':'candy','中国移动':'ccmc','语信':'yuxin','基伍':'kiwu','青橙':'greeno','华硕':'asus',\
             '夏新':'panosonic','维图':'weitu','艾优尼':'aiyouni','摩托罗拉':'moto','乡米':'xiangmi','米奇':'micky','大可乐':'bigcola',\
             '沃普丰':'wpf','神舟':'hasse','摩乐':'mole','酷派':'kupai','飞秒':'fs','米歌':'mige','富可视':'fks','德赛':'desci','梦米':'mengmi','乐视':'lshi','小杨树':'smallt','纽曼':'newman','邦华':'banghua',\
             'E派':'epai','华为':'Huawei','小米':'xiaomi','魅族':'meizu', '易派':'epai','普耐尔':'pner','欧新':'ouxin','西米':'ximi','海尔':'haier','波导':'bodao','糯米':'nuomi','唯米':'weimi','酷珀':'kupo','谷歌':'google','昂达':'ada','聆韵': 'lingyun'}

In [124]:
for index, i in enumerate(device_brand['phone_brand']):
    if i in translate:
        device_brand.loc[index,'phone_brand'] = translate[i]

In [125]:
device_brand

                  device_id phone_brand     device_model
0      -8890648629457979026      xiaomi               红米
1       1277779817574759137      xiaomi             MI 2
2       5137427614288105724     samsung        Galaxy S4
3       3669464369358936369       SUGAR             时尚手机
4      -5019277647504317457     samsung    Galaxy Note 2
5       3238009352149731868      Huawei             Mate
6      -3883532755183027260      xiaomi            MI 2S
7      -2972199645857147708      Huawei            G610S
8      -5827952925479472594      xiaomi      MI One Plus
9      -8262508968076336275        vivo              S7I
10      5840378295166286440     samsung        Galaxy S3
11     -5776341595519925628      xiaomi            MI 2A
12      3437705102632680210     samsung        Galaxy S3
13     -3568334676360016285     samsung        Galaxy S3
14       556978549708484782      xiaomi             MI 2
15      5694497738268412307      xiaomi             MI 3
16      6327116114284382479      Huawei        G520-0000
17       773248989809697210        vivo            X5Pro
18      -686020914357018824      xiaomi            MI 2S
19      6936613487637228956       meizu              MX2
20     -3875043166283300758     samsung    Galaxy Note 2
21     -6964140211214884922      xiaomi            MI 2S
22       -30236203766311351      xiaomi            MI 2S
23      4887985552773989409        vivo            Xplay
24      7206202610070842107     samsung    Galaxy Note 2
25       -39620037751344714      xiaomi            MI 2S
26      7223189369472462826       kupai             7270
27     -3998002640294516352      Ktouch          Touch 3
28      2527845705328727233        OPPO            R2017
29     -3157952721100703520     samsung    Galaxy Note 2
...                     ...         ...              ...
187215  5227968728585496675        OPPO            R813T
187216  7793779831192048252        OPPO              R1S
187217  -744475600656645305     samsung   Galaxy S7 Edge
187218  3608110452636220010       nubia           My 布拉格
187219 -8618225365386360981          LG              L22
187220  2275764314427946733      Huawei           Mate 8
187221 -2334418817028672523        OPPO              A53
187222 -4449937638303316446      Huawei         荣耀6 plus
187223  1565799471880375963       jinli            GN151
187224  7345944586031224659      Huawei        Ascend P8
187225 -8541422542047946093        OPPO           Find 5
187226 -4980799589632292473       kupai            5263S
187227 -4982005935723339332        lshi          超级手机Max
187228 -2200024706981051998      xiaomi           红米note
187229  4088225607463878385     samsung    Galaxy Note 3
187230  4533938230389516114      lenovo           黄金斗士A8
187231  2991768363764912164     samsung  Galaxy S6 Edge+
187232 -8903406387941280700        OPPO               R9
187233 -6424608528529231693      xiaomi          红米Note2
187234 -2998819981424937912     samsung        Galaxy A8
187235  2397799423340611378     samsung        Galaxy S5
187236  2639235301715597247        OPPO              A33
187237  3884484562161888663        OPPO             1100
187238 -6564340457392363163   zhongxing           Axon天机
187239  3210973037848940984      xiaomi            MI 2S
187240  7979541072208733273      xiaomi             MI 4
187241  -187404680852357705      xiaomi              红米2
187242 -2718274279595622821      xiaomi             MI 3
187243  3098391762071677791        vivo               X1
187244  7540390258631417003        vivo             Y22L

[187245 rows x 3 columns]