In [24]:
import pandas as pd
import gensim
import os
import collections
import smart_open
import flask
from flask import Flask
import pickle
import random
from surprise import SVDpp,SVD
from surprise import Dataset
from surprise import Reader
import nltk
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.metrics.pairwise import euclidean_distances

app = flask.Flask(__name__)

#pulling in dataset, item list
with open('/Users/deven/Documents/pickleddata/projectfletcher/newdatalist.pkl', 'rb') as picklefile:
    itemdf = pickle.load(picklefile)
with open('/Users/deven/Documents/GitHub/Metis/ProjectFletcher/surprise_data.pkl', 'rb') as picklefile:
    newdf = pickle.load(picklefile)
with open('/Users/deven/Documents/pickleddata/projectfletcher/btrain.pkl', 'rb') as picklefile:
    btrain = pickle.load(picklefile)

In [62]:
#changing some tea names for easier calls
itemdf = pd.DataFrame(itemdf)
newname=[]
import re

for i in itemdf['Tea Name']:
    line = re.sub('[!@#$\'\",]', '', i)
    newname.append(line)
itemdf['Tea Name'] = newname

#initializing book list
bookt = ['Emma by Jane Austen', 'Persuassion by Jane Austen', 'Sense and Sensibility by Jane Austen',\
        'Poems by William Blake', 'The Little People of the Snow by William Bryant', 'The Adventures of Buster Bear by Thornton Burgress'\
        'Alice in Wonderland by Lewis Carroll','The Ball and the Cross by G.K. Chesterton','The Wisdom of Father Brown by G.K. Chesterton'\
        'The Ball and the Cross by G.K. Chesterton', 'The Parents Assistant by Maria Edgeworth','Moby Dick by Herman Melville',\
        'Paradise Lost by John Milton', 'Shakespeares Works','Shakespeares Works','Shakespeares Works', 'Leaves of Grass by Walt Whitman']

imagelocs = {'Emma by Jane Austen':'static/emma.jpg','Persuassion by Jane Austen':'static/persuassion.jpg','Sense and Sensibility by Jane Austen':'static/sense.jpg',\
'Poems by William Blake':'static/blake.jpg','The Little People of the Snow by William Bryant':'static/bryant.jpg','The Adventures of Buster Bear by Thornton Burgress':'static/the-adventures-of-buster-bear.jpg',\
'Alice in Wonderland by Lewis Carroll':'static/alice.jpg', 'The Ball and the Cross by G.K. Chesterton':'static/ball.jpg','The Wisdom of Father Brown by G.K. Chesterton':'static/fatherbrown.jpg',\
'The Parents Assistant by Maria Edgeworth':'static/edge.jpg','Moby Dick by Herman Melville':'static/moby.jpg','Paradise Lost by John Milton':'static/paradise.jpg',\
'Shakespeares Works':'static/shake.jpg','Shakespeares Works':'static/shake.jpg','Shakespeares Works':'static/shake.jpg','Leaves of Grass by Walt Whitman':'static/leaves.jpg'}

In [63]:
itemdf.head()

,Flavor Profile Cust,Flavor Profile Reviews,Mouthfeel,Review Adj,Reviews Supertext,Tea Name
0,0,"{'Spicy': 0.0, 'Char': 0.0, 'Sweet': 0.0, 'Nut...",[],"[rich, pu, erh, teaopias, little, selection, p...",A very rich tasting pu erh Teaopias little s...,Tuo Cha Pu-erh
1,0,"{'Spicy': 0, 'Char': 0, 'Sweet': 0, 'Nutty': 0...",[],"[smooth, nice, nutty, taste, aroma, great, din...",Smooth with a nice nutty taste and aroma Gre...,Genmaicha Brown Rice Tea
2,0,"{'Spicy': 0, 'Char': 0, 'Sweet': 0, 'Nutty': 0...",[],[grand],Grand,Lapsang Souchong
3,0,"{'Spicy': 0, 'Char': 0, 'Sweet': 0, 'Nutty': 0...",[],"[ive, first, zingermans, product, fair, right,...",Sadly I think Ive just encountered the first ...,Moonlight White
4,0,"{'Spicy': 0, 'Char': 0, 'Sweet': 0, 'Nutty': 0...",[],"[cest, effectivement, un, bon, puerh, velouté,...",Cest effectivement un bon Puerh velouté gras ...,Pu Er Vrac 28 (1998)

In [93]:
newdf = pd.concat([newdf,pd.DataFrame([[x[2],x[0], 'user1']], columns = ['Score', 'Tea Name', 'User Name'])], ignore_index=True)
reader = Reader(rating_scale=(0, 100))
algo=SVD()

In [ ]:
data = Dataset.load_from_df(newdf[['User Name', 'Tea Name', 'Score']], reader)
trainset = data.build_full_trainset()
algo.fit(trainset)

testset = trainset.build_anti_testset()
predictions = algo.test(testset)

In [79]:
len(itemdf['Flavor Profile Reviews'])

11797

In [81]:
alist= []
for i in itemdf['Flavor Profile Reviews']:
        alist.append(i)
teadf = pd.DataFrame(alist)

In [82]:
teadf.head()

,Berry,Char,Citrus,Earth,Floral,Grass,Herbs,Malolactic,Marine,Mineral,Nutty,Spicy,Sweet,Tree Fruit,Tropical,Vegetables,Wood
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
top_n = defaultdict(list)
for uid, iid, true_r, est, _ in want:
    top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
for uid, user_ratings in top_n.items():
    user_ratings.sort(key=lambda x: x[1], reverse=True)
    top_n[uid] = user_ratings[:n]

In [ ]:
itemdf[itemdf['Tea Name']==x[0]]

In [54]:
top_n['user1'][0][0]

'Love Tea 7'

In [87]:
teadist = []
mindist = []
eudist=0
for i in top_n['user1']:
    eudis=(euclidean_distances(teadf.iloc[itemdf[itemdf['Tea Name']==x[0]].index,:], \
        teadf.iloc[itemdf[itemdf['Tea Name']==i[0]].index,:]))
    teadist.append((i[0],eudist))
    mindist = sorted(teadist, key=lambda x:x[1])

In [88]:
mindist

[('Love Tea 7', 0), ('Black Matcha', 0), ('MateVana', 0)]

In [ ]:
#Call function for top ratings
from collections import defaultdict
def get_top_n(teaid,score,qq, n=3):
    # A reader is still needed but only the rating_scale param is requiered.
    qq = pd.concat([qq,pd.DataFrame([[score,teaid, 'user1']], columns = ['Score', 'Tea Name', 'User Name'])], ignore_index=True)
    reader = Reader(rating_scale=(0, 100))
    algo=SVD()
    # The columns must correspond to user id, item id and ratings (in that order).
    data = Dataset.load_from_df(newdf[['User Name', 'Tea Name', 'Score']], reader)
    trainset = data.build_full_trainset()
    algo.fit(trainset)

    testset = trainset.build_anti_testset()
    predictions = algo.test(testset)


    '''Return the top-N recommendation for each user from a set of predictions.

    Args:
        predictions(list of Prediction objects): The list of predictions, as
            returned by the test method of an algorithm.
        n(int): The number of recommendation to output for each user. Default
            is 10.

    Returns:
    A dict where keys are user (raw) ids and values are lists of tuples:
        [(raw item id, rating estimation), ...] of size n.
    '''
    want= []
    for i in predictions:
        if i[0]== 'user1':
            want.append(i)
    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in want:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]
    teadist = []
    mindist = []
    eudist=0
    for i in top_n['user1']:
        eudis=(euclidean_distances(teadf.iloc[itemdf[itemdf['Tea Name']==x[0]].index,:], \
            teadf.iloc[itemdf[itemdf['Tea Name']==i[0]].index,:]))
        teadist.append((i[0],eudist))
    mindist = sorted(teadist, key=lambda x:x[1])

    return mindist[0],mindist[1],mindist[2]

In [ ]:
def getBookrec(iid):
    test_corpus = itemdf[itemdf['Tea Name']==iid]['Review Adj'].values
    bookrec = gensim.models.doc2vec.Doc2Vec.load('Users/deven/Documents/pickleddata/projectfletcher/bookrec.bin')
    inferred_vector = bookrec.infer_vector(test_corpus)
    sims = bookrec.docvecs.most_similar([inferred_vector])
    rec=''
    tot=0
    for ind, i in enumerate(doclen):
        tot+=i
        if sims[0][0]==btrain[ind][1]:
            rec = bookt[ind-1]
            break
    return rec

In [ ]:
data = {'example':['Chai Matcha','green','83']}

In [ ]:
x = data["example"]
rec1,rec2,rec3 = get_top_n(x[0],x[2], newdf)
bookrec= getBookrec(x[0])
imgrec = imageloc[bookrec]
# Put the result in a nice dict so we can send it as json
results = {"tearec1":rec1,"tearec2":rec2,"tearec3":rec3,"bookrec":bookrec, 'img':img}
#return flask.jsonify(results)

#--------- RUN WEB APP SERVER ------------#

# Start the app server on port 80
# (The default website port)
#app.run(host='0.0.0.0')
# app.run(debug=True)

In [ ]:
print(results)